<footer>
  <div class="container">
    <div class="footer-content">
      <div class="footer-logo">
        <!-- <h2>RADHARANI<span>PROPERTIES</span></h2> -->
        <img src="assets/logo/mainlogo.png" alt="RADHARANI PROPERTIES"
          style="width: 100%;background-color: whitesmoke; border-radius: 10px; padding: 5px;">
        <h4 style="text-align: center;margin-bottom: 2rem;">सपनों की ज़मीन, भरोसे के साथ</h4>

        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
      <div class="footer-links">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="privacy-policy" target="_blank">Privacy Policy</a></li>
          <li><a href="terms-of-service" target="_blank">Terms of Service</a></li>
        </ul>
      </div>
      <div class="footer-properties">
        <h3>Property Types</h3>
        <ul>
          <li><a href="#">Luxury Villas</a></li>
          <li><a href="#">Modern Apartments</a></li>
          <li><a href="#">Land Plots</a></li>
          <li><a href="#">Farm Houses</a></li>
        </ul>
      </div>
      <div class="footer-contact">
        <h3>Contact Info</h3>
        <ul>
          <li><i class="fas fa-map-marker-alt"></i> C7 Jain Tower, Ganatpura, Jaipur, Rajasthan 302020</li>
          <li><i class="fas fa-phone"></i> +91 7728906753</li>
          <li><i class="fas fa-envelope"></i> info&#64;radharaniproperties.com</li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <p>&copy; 2026 RADHARANI PROPERTIES. All Rights Reserved.</p>
    </div>
  </div>
</footer>