<section class="project-banner" style="background-image: url({{property.media.thumbnail}});">
  <div class="project-banner-content">
    <h1>{{property.propertyName}}</h1>
    <div class="location">
      <i class="fas fa-map-marker-alt"></i>
      <span>{{property.location.locality}}, {{property.location.city}}, {{property.location.state}}</span>
    </div>
    <div class="price">₹{{property.startingPrice}} <span>₹{{getPriceUnit(property.priceUnit)}}</span></div>
  </div>
</section>

<!-- Project Details -->
<section class="project-details">
  <div class="container">
    <div class="project-info-grid">
      <div class="project-description">
        <h2>Property Description</h2>
        <p>{{property.description}}</p>

        <div class="project-features">
          <h3>Amenities</h3>
          <div class="features-grid">
            <div class="feature-item" *ngFor="let amenity of property.amenities">
              <i class="fas {{amenity}}"></i>
              <span>{{amenity}}</span>
            </div>
            <div class="feature-item-list" style="grid-column: span 2; display: flex; gap: 10px; flex-wrap: wrap;"
              *ngIf="property.location.nearbyLandmarks">
              <h4 style="width: 100%;">Nearby Landmarks</h4>
              <div class="feature-item" *ngFor="let landmark of property.location.nearbyLandmarks">
                <i class="fas fa-location-dot"></i>
                <span>{{landmark}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="project-sidebar">
        <div class="sidebar-item">
          <h3>Property Type</h3>
          <p>{{property.propertyType}}</p>
        </div>
        <div class="sidebar-item">
          <h3>Price</h3>
          <p class="price">₹{{property.startingPrice}} <span>₹{{getPriceUnit(property.priceUnit)}}</span></p>
        </div>
        <div class="sidebar-item">
          <h3>Location</h3>
          <p>{{property.location.locality}}, {{property.location.city}}, {{property.location.state}}</p>
        </div>
        <div class="sidebar-item">
          <h3>Year Built</h3>
          <p>{{property.yearBuilt}}</p>
        </div>
        <div class="sidebar-item">
          <h3>Status</h3>
          <p>{{property.status}}</p>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Gallery Section -->
<section class="gallery-section" id="gallery">
  <div class="container">
    <div class="section-header">
      <h2>Property <span>Gallery</span></h2>
      <div class="divider"></div>
    </div>

    <div class="gallery-container">
      <img src="{{property.media.thumbnail}}" class="main-image" id="mainImage">

      <div class="thumbnail-container">
        <img src="{{property.media.thumbnail}}" class="thumbnail active" (click)="changeImage($event)">
        <img *ngFor="let img of property.media.images" src="{{img}}" alt="Ocean View Villa" class="thumbnail"
          (click)="changeImage($event)">
      </div>
    </div>
  </div>
</section>

<app-metrics-card [data]="data"></app-metrics-card>
<app-latest-contacts [propertyId]="property.propertyId"></app-latest-contacts>