<!-- Dashboard Blueprint

1) metrics cards
total views, total uploads, total inquiries

2) Latest Contacts
table with name, email, message, date
3) Latest Uploads
table with title, location, price, date
4) Charts
a) views per day last 7 days
b) inquiries per month last 6 months
5) All properties listings with CRUD actions -->
<div class="p-4">
  <app-metrics-card [data]="metrics_data"></app-metrics-card>
  <div class="row">
    <app-latest-contacts class="col-lg-6 col-md-12"></app-latest-contacts>
    <app-latest-uploads [latestContacts]="properties" class="col-lg-6 col-md-12"></app-latest-uploads>
  </div>
  <app-views-graph></app-views-graph>
</div>
